<div class="add-to-bookmarks">
    <div class="container">
        <div class="add-to-bookmarks__wrapper">
            <div class="add-to-bookmarks__left">
                <div class="add-to-bookmarks__title">
                    Don’t lose this page – <span class="green-text">add us to your bookmarks!</span>
                </div>
                <div class="add-to-bookmarks__text">
                    <p>We’re your trusted guide to finding the best casinos.</p>
                    <p class="instructions">Stay up-to-date with the latest reviews and exclusive offers by <span class="white-text">pressing Ctrl + D</span> on your keyboard now to bookmark this site. </p>
                </div>
            </div>
            <div class="add-to-bookmarks__right">
                <div class="add-to-bookmarks__btn">
                    <button>
                        <span class="add-to-bookmarks__btn-title">
                            <span class="add-to-bookmarks__btn-icon">
                                <svg class='svg-icon'>
                                    <use xlink:href='#icon-bookmark-2'/>
                                </svg>
                            </span>
                            Add to bookmarks!
                        </span>
                        <span class="add-to-bookmarks__btn-info">Quick access to reliable information <span class="mobile-disabled">is just one click away!</span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>