<section class="casino-filters">
    <div class="container">
        <!-- <div class="filters-block">
            <div class="row">
                <div class="item">
                    <div class="name">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-category' />
                        </svg>
                        <span>
                            All
                        </span>
                    </div>
                    <span class="num">
                        18
                    </span>
                </div>

                <div class="item">
                    <div class="name">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-like' />
                        </svg>
                        <span>
                            Recommended
                        </span>
                    </div>
                    <span class="num">
                        23
                    </span>
                </div>
                <div class="item">
                    <div class="name">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-new-label' />
                        </svg>
                        <span>
                            Newly Opened
                        </span>
                    </div>
                    <span class="num">
                        6
                    </span>
                </div>
                <div class="item">
                    <div class="name">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-warranty' />
                        </svg>
                        <span>
                            Big Brands
                        </span>
                    </div>
                    <span class="num">
                        87
                    </span>
                </div>
            </div>
            <div class="row bottom-row">
                <div class="info">
                    <svg class="svg-icon">
                        <use xlink:href='#icon-info' />
                    </svg>
                    <span>
                        Showing casinos: All online casinos in our database
                    </span>
                </div>
                <div class="recommended-buttons">
                    <button class="mobile-filters">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-filters' />
                        </svg>
                        <span>
                            Filters
                        </span>
                    </button>
                    <button class="recommended">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-sorting-arrows' />
                        </svg>
                        <span>
                            Recommended
                        </span>
                    </button>

                </div>
            </div>
        </div> -->
        <div class="content-block">
            <div class="sidebar">
                <div class="bar">
                    <div class="head">
                        <div class="title">
                            <svg class="svg-icon">
                                <use xlink:href='#icon-fire' />
                            </svg>
                            <span>
                                Popular Filters
                            </span>
                        </div>
                        <svg class="svg-icon">
                            <use xlink:href='#icon-down-square' />
                        </svg>


                    </div>
                    <div class="checkbox-list">
                        <ul>
                            <li>
                                <div class="box-content">
                                    <svg class="status checked">
                                        <use xlink:href="#icon-tick-square-2"></use>
                                    </svg>
                                    <span>
                                        Mobile-friendly casinos
                                    </span>
                                </div>
                                <span class="num">
                                    18
                                </span>
                            </li>
                            <li>
                                <div class="box-content">
                                    <svg class="status checked">
                                        <use xlink:href="#icon-tick-square-2"></use>
                                    </svg>
                                    <span>
                                        Crypto casinos
                                    </span>
                                </div>
                                <span class="num">
                                    34
                                </span>
                            </li>
                            <li>
                                <div class="box-content">
                                    <svg class="status checked">
                                        <use xlink:href="#icon-tick-square-2"></use>
                                    </svg>
                                    <span>
                                        Live roulette casinos
                                    </span>
                                </div>
                                <span class="num">
                                    7
                                </span>
                            </li>
                            <li>
                                <div class="box-content">
                                    <svg class="status checked">
                                        <use xlink:href="#icon-tick-square-2"></use>
                                    </svg>
                                    <span>
                                        High roller casinos
                                    </span>
                                </div>
                                <span class="num">
                                    71
                                </span>
                            </li>
                            <li>
                                <div class="box-content">
                                    <svg class="status checked">
                                        <use xlink:href="#icon-tick-square-2"></use>
                                    </svg>
                                    <span>
                                        Anonymous casinos
                                    </span>
                                </div>
                                <span class="num">
                                    32
                                </span>
                            </li>
                            <li>
                                <div class="box-content">
                                    <svg class="status checked">
                                        <use xlink:href="#icon-tick-square-2"></use>
                                    </svg>
                                    <span>
                                        Live dealer casinos
                                    </span>
                                </div>
                                <span class="num">
                                    89
                                </span>
                            </li>
                        </ul>
                        <button>
                            More 27 Variants
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>


                    </div>
                    <ul class="list">
                        <li>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-visit' />
                            </svg>
                            <div class="text">
                                <span class="title">
                                    Casinos for Players from
                                </span>
                                <span>
                                    Netherlands, Albania, Algeria, An...
                                </span>
                            </div>
                            <button>
                                <svg class="svg-icon">
                                    <use xlink:href='#icon-down-square' />
                                </svg>
                            </button>
                        </li>
                        <li>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-dice-1' />
                            </svg>
                            <div class="text">
                                <span class="title">
                                    Casino Games
                                </span>
                                <span>
                                    Slots, Roulette, Blackjack, Bettin...
                                </span>
                            </div>
                            <button>
                                <svg class="svg-icon">
                                    <use xlink:href='#icon-down-square' />
                                </svg>
                            </button>
                        </li>
                        <li>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-individual-user' />
                            </svg>
                            <div class="text">
                                <span class="title">
                                    Game Provider
                                </span>
                                <span>
                                    NetEnt, Novomatic, Nolimit City, ...
                                </span>
                            </div>
                            <button>
                                <svg class="svg-icon">
                                    <use xlink:href='#icon-down-square' />
                                </svg>
                            </button>
                        </li>
                        <li>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-payment-card' />
                            </svg>
                            <div class="text">
                                <span class="title">
                                    User Feedback
                                </span>
                                <span>
                                    Excellent, Great, Good, Mixed, Ba...
                                </span>
                            </div>
                            <button>
                                <svg class="svg-icon">
                                    <use xlink:href='#icon-down-square' />
                                </svg>
                            </button>
                        </li>
                        <li>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-popular-1' />
                            </svg>
                            <div class="text">
                                <span class="title">
                                    Payment Method
                                </span>
                                <span>
                                    PaySafeCard, iDEAL, Neteller, Tru,..
                                </span>
                            </div>
                            <button>
                                <svg class="svg-icon">
                                    <use xlink:href='#icon-down-square' />
                                </svg>
                            </button>
                        </li>
                        <li>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-safety' />
                            </svg>
                            <div class="text">
                                <span class="title">
                                    Licensing Authority
                                </span>
                                <span>
                                    Netherlands (KSA), Alderney (AG...
                                </span>
                            </div>
                            <button>
                                <svg class="svg-icon">
                                    <use xlink:href='#icon-down-square' />
                                </svg>
                            </button>
                        </li>

                    </ul>
                </div>

                <img src="./images/banner-sidebar.png" alt="banner">

            </div>
            <ul class="card-wrapper">
                <li>
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/bet-play.png" alt="casino">

                    </div>
                    <h3>
                        Bet and Play
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                <span class="text-accent">
                                    RunWinCasino
                                </span>
                                    Review
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="accent-card">
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/scream-casino.png" alt="casino">

                    </div>
                    <h3>
                        Scream Casino
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                <span class="text-accent">
                                    RunWinCasino
                                </span>
                                    Review
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="active-card">
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/k-casino.png" alt="casino">

                    </div>
                    <h3>
                        Kingdom Casino
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                <span class="text-accent">
                                    RunWinCasino
                                </span>
                                    Review
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li>
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/bet-play.png" alt="casino">

                    </div>
                    <h3>
                        Bet and Play
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                <span class="text-accent">
                                    RunWinCasino
                                </span>
                                    Review
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="accent-card">
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/scream-casino.png" alt="casino">

                    </div>
                    <h3>
                        Scream Casino
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                RunWinCasino <span class="white-text">
                                    Review
                                </span>
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="active-card">
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/k-casino.png" alt="casino">

                    </div>
                    <h3>
                        Kingdom Casino
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                RunWinCasino <span class="white-text">
                                    Review
                                </span>
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li>
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/bet-play.png" alt="casino">

                    </div>
                    <h3>
                        Bet and Play
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                RunWinCasino <span class="white-text">
                                    Review
                                </span>
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="accent-card">
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/scream-casino.png" alt="casino">

                    </div>
                    <h3>
                        Scream Casino
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                RunWinCasino <span class="white-text">
                                    Review
                                </span>
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="active-card">
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/k-casino.png" alt="casino">

                    </div>
                    <h3>
                        Kingdom Casino
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                RunWinCasino <span class="white-text">
                                    Review
                                </span>
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li>
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/bet-play.png" alt="casino">

                    </div>
                    <h3>
                        Bet and Play
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                RunWinCasino <span class="white-text">
                                    Review
                                </span>
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="accent-card">
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/scream-casino.png" alt="casino">

                    </div>
                    <h3>
                        Scream Casino
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                RunWinCasino <span class="white-text">
                                    Review
                                </span>
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="active-card">
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/k-casino.png" alt="casino">

                    </div>
                    <h3>
                        Kingdom Casino
                    </h3>
                    <div class="ellipse">
                        <svg class="svg-icon">
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg class="svg-icon">
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button class="run-btn">
                            <span>
                                RunWinCasino <span class="white-text">
                                    Review
                                </span>
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg class="svg-icon">
                                <use xlink:href='#icon-arrow-right-square' />
                            </svg>
                        </button>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</section>