<section class="banner categories-banner">
    <div class="container">
        <div class="categories-banner-wrapper">
            <div class="banner-left">
                <h1 class="banner-title"><span class="green-text">Best Online Casinos</span> in January 2025</h1>
                <p class="banner-text">Best online casinos in 2025 reviewed, tested, and ranked by gambling experts. Browse a list of top online casinos and choose the best casino site.</p>
            </div>

            <div class="banner-right">
                <img src="./images/categories-banner.png" alt="">
            </div>
        </div>
    </div>
</section>