<div class="filters-component">
    <div class="container">
        <div class="filters-block">
            <div class="row">
                <div class="item">
                    <div class="name">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-category' />
                        </svg>
                        <span>
                            All
                        </span>
                    </div>
                    <span class="num">
                        18
                    </span>
                </div>

                <div class="item">
                    <div class="name">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-like' />
                        </svg>
                        <span>
                            Recommended
                        </span>
                    </div>
                    <span class="num">
                        23
                    </span>
                </div>
                <div class="item">
                    <div class="name">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-new-label' />
                        </svg>
                        <span>
                            Newly Opened
                        </span>
                    </div>
                    <span class="num">
                        6
                    </span>
                </div>
                <div class="item">
                    <div class="name">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-warranty' />
                        </svg>
                        <span>
                            Big Brands
                        </span>
                    </div>
                    <span class="num">
                        87
                    </span>
                </div>
            </div>
            <div class="row bottom-row">
                <div class="info">
                    <svg class="svg-icon">
                        <use xlink:href='#icon-info-2' />
                    </svg>
                    <span>
                        Showing casinos: All online casinos in our database
                    </span>
                </div>
                <div class="recommended-buttons">
                    <button class="mobile-filters">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-filters' />
                        </svg>
                        <span>
                            Filters
                        </span>
                    </button>
                    <button class="recommended">
                        <svg class="svg-icon">
                            <use xlink:href='#icon-sorting-arrows' />
                        </svg>
                        <span>
                            Recommended
                        </span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>