<div class="popup-category-filters">
  <div class="popup-wrapper">
    <div class="popup-head">
      <div class="head-content">
        <svg class="svg-icon">
          <use xlink:href="#icon-fire" />
        </svg>
        <h2>Popular Filters</h2>
      </div>
      <button>
        <svg class="svg-icon" id="close-filter-popup-btn">
          <use xlink:href="#icon-close-btn" />
        </svg>
      </button>
      
    </div>
    <div class="filters-wrap">
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" checked/>
            <span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
            </span>
          <span> Mobile-friendly casinos </span>
                    
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
            <span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
            </span>
          <span> Crypto casinos </span>
                    
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Live roulette casinos </span>
               
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Live dealer casinos </span>
                    
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" checked/>
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> High roller casinos </span>
                   
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
                <span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Anonymous casinos </span>
                   
         </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Crypto casinos </span>
           
          </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Anonymous casinos </span>
                    
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Crypto casinos </span>
                  
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Mobile-friendly casinos </span>
              
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Live roulette casinos </span>
                  
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Crypto casinos </span>
               
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> High roller casinos </span>
              
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Live dealer casinos </span>
              
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> High roller casinos </span>
                
         </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Live roulette casinos </span>
                     
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
          </span>        
          <span> Live dealer casinos </span>

        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Anonymous casinos </span>
                      
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
      <div class="filter">
        <div class="content">
          <label class="checkbox-container">
            <input type="checkbox" />
<span class="checkbox-custom">
                <svg class="svg-icon">
                    <use xlink:href="#icon-check" />
                </svg>  
 </span>
          <span> Mobile-friendly casinos </span>
                    
        </label>
        </div>
        <span class="num"> 34 </span>
      </div>
    </div>
  </div>
</div>
