		</main>
		<footer class="footer">
			<div class="footer-top">
				<div class="container">
					<div class="footer-top__wrapper">
						<div class="footer-top__left">
							<a href="/" class="logo">
								<img src="./images/cropped.svg" alt="logo" width="40" height="40">

								<span>
									CasinoSites
								</span>
							</a>

							<div class="text">
								<p>
									<span class="yellow-text">CasinoSites</span> is a resource that is supported by fans of their business.
								</p>
								<p>
									We want our visitors to understand how online gambling works, how to choose the best sites to play on, and how to protect themselves from addiction.
								</p>
								<p>
									We are an independent website with useful information.
								</p>
							</div>
						</div>

						<div class="footer-top__right">
							<div class="links-block">
								<div class="links-block__title">CasinoSites</div>
								<ul>
									<li>
										<a href="#">
											Online Casinos
										</a>
									</li>
									<li>
										<a href="#">
											Games
										</a>
									</li>
									<li>
										<a href="#">
											Bonuses
										</a>
									</li>
									<li>
										<a href="#">
											Guide
										</a>
									</li>
									<li>
										<a href="#">
											Complaints
										</a>
									</li>
									<li>
										<a href="#">
											Forum
										</a>
									</li>
									<li>
										<a href="#">
											Reviews
										</a>
									</li>
									<li>
										<a href="#">
											Tournaments
										</a>
									</li>
									<li>
										<a href="#">
											News
										</a>
									</li>
								</ul>
							</div>
							<div class="links-block">
								<div class="links-block__title">Top Casinos</div>
								<ul>
									<li>
										<a href="#">
											Pocket Pokies Casino
										</a>
									</li>
									<li>
										<a href="#">
											Skycrown Casino
										</a>
									</li>
									<li>
										<a href="#">
											God of Wins Casino
										</a>
									</li>
									<li>
										<a href="#">
											Winshark Casino
										</a>
									</li>
									<li>
										<a href="#">
											National Casino
										</a>
									</li>
								</ul>
							</div>
							<div class="links-block">
								<div class="links-block__title">CasinoSites</div>
								<ul>
									<li>
										<a href="#">
											Online Casinos
										</a>
									</li>
									<li>
										<a href="#">
											Games
										</a>
									</li>
									<li>
										<a href="#">
											Bonuses
										</a>
									</li>
									<li>
										<a href="#">
											Guide
										</a>
									</li>
									<li>
										<a href="#">
											Complaints
										</a>
									</li>
								</ul>
							</div>
							<div class="links-block">
								<div class="links-block__title">CasinoSites</div>
								<ul>
									<li>
										<a href="#">
											Online Casinos
										</a>
									</li>
									<li>
										<a href="#">
											Games
										</a>
									</li>
									<li>
										<a href="#">
											Bonuses
										</a>
									</li>
									<li>
										<a href="#">
											Guide
										</a>
									</li>
									<li>
										<a href="#">
											Complaints
										</a>
									</li>
									<li>
										<a href="#">
											Forum
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-middle">
				<div class="container">
					<ul class="partners">
						<li>
							<a href="#">
								<img src="./images/footer-partner-1.png" alt="partner">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./images/footer-partner-2.png" alt="partner">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./images/footer-partner-3.png" alt="partner">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./images/footer-partner-4.png" alt="partner">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="./images/footer-partner-5.png" alt="partner">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="footer-bottom__wrapper">
						<p class="copyright">
							© 2025 Copyright.  CasinoSites.  All rights reserved.
						</p>
						<ul class="footer-bottom__links">
							<li>
								<a href="#">
									<svg class='svg-icon'>
										<use xlink:href='#icon-twitter-round'/>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg class='svg-icon'>
										<use xlink:href='#icon-instagram-round'/>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg class='svg-icon'>
										<use xlink:href='#icon-linkedin-round'/>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- <script src="js/assets.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>