		</main>
		<footer class="footer">
			<div class="footer-wrapper">
				<div class="container">

					<div class="logo">
						<img
							src="./images/cropped.svg"
							alt="logo"
							width="40px"
							height="40px"
						/>

						<span>
							CasinoSites
						</span>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="footer-bottom__wrapper">
						<p class="copyright">
							© 2025 Copyright.  CasinoSites.  All rights reserved.
						</p>
						<ul class="footer-bottom__links">
							<li>
								<a href="#">
									<svg class='svg-icon'>
										<use xlink:href='#icon-twitter-round'/>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg class='svg-icon'>
										<use xlink:href='#icon-instagram-round'/>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg class='svg-icon'>
										<use xlink:href='#icon-linkedin-round'/>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- <script src="js/assets.js"></script> -->
	<script src="js/main.js"></script>
</body>
</html>