<section class="games-block">

    <div class="container">
        <ul>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/casino-logo-big.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button >
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                   
                </div>
               

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/11068_4-fantastic-fish-in-egypt-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                    
                </div>
               

            </li>
            <li class="active-card">
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/1483_temujin-treasures-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                  
                </div>
            

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/5462_big-juan-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                   
                </div>
               

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/casino-logo-big.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button >
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                   
                </div>
               

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/11068_4-fantastic-fish-in-egypt-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                    
                </div>
               

            </li>
            <li class="active-card">
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/1483_temujin-treasures-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                  
                </div>
            

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/5462_big-juan-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                   
                </div>
               

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/casino-logo-big.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button >
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                   
                </div>
               

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/11068_4-fantastic-fish-in-egypt-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                    
                </div>
               

            </li>
            <li class="active-card">
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/1483_temujin-treasures-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                  
                </div>
            

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/5462_big-juan-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                   
                </div>
               

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/casino-logo-big.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button >
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                   
                </div>
               

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/11068_4-fantastic-fish-in-egypt-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                    
                </div>
               

            </li>
            <li class="active-card">
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/1483_temujin-treasures-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                  
                </div>
            

            </li>
            <li>
                <div class="slide-wrapper">
                    <div class="slide-cart">
                        <div class="list-head">
                            <span class="head">
                                Picked by Casino Guru
                            </span>
                            <img src="./images/5462_big-juan-game.png" alt="casino">
                            
                        </div>
                        <h3>
                            Ricky Casino
                        </h3>
                        <div class="card-buttons">
                            <button>
                                <span>
                                    Play for real money
                                </span>
                            </button>
                            <button class="visit-btn">
                                <span>
                                    Play for free
                                </span>
                                <svg>
                                    <use xlink:href='#icon-arrow-right-square-1' />
                                </svg>
                            </button>
                        </div>
                    </div>
                   
                </div>
               

            </li>
        </ul>
    </div>
</section>