<section class="gold-party">


    <div class="container">
        <div class="navigation">
            <svg class="svg-icon">
                <use xlink:href='#icon-home' />
            </svg>
            <svg class="svg-icon">
                <use xlink:href='#arrow-right' />
            </svg>
            <span>
                Reviews
            </span>
            <svg class="svg-icon">
                <use xlink:href='#arrow-right' />
            </svg>
            <span>
                Gold Party

            </span>
        </div>
        <div class="slot-game">
            <div class="title">
                <svg class="svg-icon">
                    <use xlink:href='#icon-dice-1' />
                </svg>
                <h1>
                    <span>
                        Buffalo
                    </span>
                    Slot Games
                </h1>
            </div>
            <div class="game-wrap">
                <img src="./images/buffalo.png" alt="buffalo-game">
                <div class="popup">
                    <button>
                        <span>
                            Play for real money
                        </span>
                    </button>
                    <button class="visit-btn">
                        <span>
                            Play for free
                        </span>
                        <svg class="svg-icon">
                            <use xlink:href='#icon-arrow-right-square' />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>