<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{pageTitle}}</title>
	<link rel="stylesheet" type="text/css" href="css/all.css" media="all">
</head>

<body>
	{{> icons}}
	<div class="wrapper">
		<div class="header">
			<div class="container">
				<div class="top-header">

				</div>
				<div class="header-nav">
					<ul>
						<li>
							<svg class='svg-icon'>
								<use xlink:href='#icon-home' />
							</svg>
							<span>
								Home
							</span>
						</li>
						<li>
							<svg class='svg-icon '>
								<use xlink:href='#icon-chip-1'/>
							</svg>
							<span>
								Online Casinos
							</span>
						</li>
						<li>
							<svg class='svg-icon '>
								<use xlink:href='#icon-tick-square-1' />
							</svg>
							<span>
								Games
							</span>
						</li>
						<li>
							<svg class='svg-icon '>
								<use xlink:href='#icon-gift-1' />
							</svg>
							<span>
								Bonuses
							</span>
						</li>
						<li>
							<svg class='svg-icon '>
								<use xlink:href='#icon-gift-1' />
							</svg>
							<span>
								Bonuses
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main">
