<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>{{pageTitle}}</title>

	{{#if indexBanner}}
		<link rel="preload" as="image" href="images/banner-bg.png">
	{{/if}}
	{{#if categoryBanner}}
		<link rel="preload" as="image" href="images/banner-bg.png">
	{{/if}}
	<link rel="stylesheet" type="text/css" href="css/all.css" media="all">

</head>

<body>
	{{> icons}}
	<div class="wrapper">
		<header class="header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-wrapper">
						<button class="mobile-menu">
							<svg class="svg-icon">
								<use xlink:href='#burger-icon' />
							</svg>
						</button>
						<a href="/" class="logo">
							<img
								src="./images/cropped.svg"
								alt="logo"
								width="40"
								height="40"
							>

							<span>
								CasinoSites
							</span>
						</a>
						<div class="search">
							<label for="search-input">
								<svg class="svg-icon">
									<use xlink:href='#icon-search' />
								</svg>
								<input type="text" id="search-input" placeholder="Search">

							</label>


						</div>

						<div class="button-group">
							<button id="toggle-search" class="mobile-search-btn">
								<svg class="svg-icon">
									<use xlink:href='#icon-search' />
								</svg>
							</button>
							<button>
								<svg class="svg-icon">
									<use xlink:href='#icon-bookmark' />
								</svg>
								<span>
									Bookmark
								</span>
							</button>
						</div>

					</div>

				</div>
			</div>
			<div id="mobile-search" class="mobile-search">
				<div class="search">
					<label for="mobile-search-input">
						<svg class="svg-icon">
							<use xlink:href='#icon-search' />
						</svg>
						<input type="text" id="mobile-search-input" placeholder="Search">

					</label>


				</div>
				<button id="close-search">
					<svg class="svg-icon">
						<use xlink:href='#close-square-grey' />
					</svg>
				</button>
			</div>
			<div class="header-nav">
				<div class="container">
					<ul>
						<li>
							<a href="#">
								<svg class='svg-icon'>
									<use xlink:href='#icon-home' />
								</svg>
								<span>
									Home
								</span>
							</a>
							<div class="active-link"></div>


						</li>
						<li>
							<a href="#">
								<svg class='svg-icon '>
									<use xlink:href='#icon-chip-1'/>
								</svg>
								<span>
									Online Casinos
								</span>
							</a>
							<div class="active-link"></div>


						</li>
						<li>
							<a href="#">
								<svg class='svg-icon '>
									<use xlink:href='#icon-dice-1' />
								</svg>
								<span>
									Games
								</span>
							</a>
							<div class="active-link"></div>


						</li>
						<li>
							<a href="">
								<svg class='svg-icon '>
									<use xlink:href='#icon-gift-1' />
								</svg>
								<span>
									Bonuses
								</span>
							</a>
							<div class="active-link"></div>


						</li>
						<li>
							<a href="">
								<svg class='svg-icon '>
									<use xlink:href='#icon-manual' />
								</svg>
								<span>
									Guide
								</span>
							</a>
							<div class="active-link"></div>


						</li>
						<li>
							<a href="#">
								<svg class='svg-icon '>
									<use xlink:href='#icon-law-1' />
								</svg>
								<span>
									Complaints
								</span>
							</a>
							<div class="active-link"></div>


						</li>
						<li>
							<a href="">
								<svg class='svg-icon '>
									<use xlink:href='#icon-communication-1' />
								</svg>
								<span>
									Forum
								</span>
							</a>
							<div class="active-link"></div>


						</li>
						<li>
							<a href="">
								<svg class='svg-icon '>
									<use xlink:href='#icon-popular-1' />
								</svg>
								<span>
									Reviews
								</span>
							</a>
							<div class="active-link"></div>

						</li>
						<li>
							<a href="">
								<svg class='svg-icon '>
									<use xlink:href='#icon-trophy' />
								</svg>
								<span>
									Tournaments
								</span>
							</a>
							<div class="active-link"></div>

						</li>
						<li>
							<a href="#">
								<svg class='svg-icon '>
									<use xlink:href='#icon-news' />
								</svg>
								<span>
									News
								</span>
							</a>
							<div class="active-link"></div>

						</li>
					</ul>
				</div>
			</div>
		</header>
		<main class="main">
