<section class="banner homepage-banner">
    <div class="container">
        <div class="homepage-banner-wrapper">
            <div class="banner-left">
                <h1 class="banner-title">Explore <span class="green-text">world's biggest</span> source of information about online casinos</h1>
                <p class="banner-text">Up-to-date reviews of all online casinos, bonus database, global community, complaint help, and more.</p>
            </div>

            <div class="banner-right">
                <ul class="banner-grid">
                    <li class="banner-grid-item">
                        <a href="#" class="banner-grid-link">
                            <span class="banner-grid-icon">
                                <svg class='svg-icon'>
                                    <use xlink:href='#icon-chip-2'/>
                                </svg>
                            </span>
                            <div class="text">Casino</div>
                        </a>
                    </li>
                    <li class="banner-grid-item">
                        <a href="#" class="banner-grid-link">
                            <span class="banner-grid-icon">
                                <svg class='svg-icon'>
                                    <use xlink:href='#icon-dice-2'/>
                                </svg>
                            </span>
                            <div class="text">Games</div>
                        </a>
                    </li>
                    <li class="banner-grid-item">
                        <a href="#" class="banner-grid-link">
                            <span class="banner-grid-icon">
                                <svg class='svg-icon'>
                                    <use xlink:href='#icon-gift-2'/>
                                </svg>
                            </span>
                            <div class="text">Bonuses</div>
                        </a>
                    </li>
                    <li class="banner-grid-item">
                        <a href="#" class="banner-grid-link">
                            <span class="banner-grid-icon">
                                <svg class='svg-icon'>
                                    <use xlink:href='#icon-popular-2'/>
                                </svg>
                            </span>
                            <div class="text">Reviews</div>
                        </a>
                    </li>
                    <li class="banner-grid-item">
                        <a href="#" class="banner-grid-link">
                            <span class="banner-grid-icon">
                                <svg class='svg-icon'>
                                    <use xlink:href='#icon-law-2'/>
                                </svg>
                            </span>
                            <div class="text">Complaints</div>
                        </a>
                    </li>
                    <li class="banner-grid-item">
                        <a href="#" class="banner-grid-link">
                            <span class="banner-grid-icon">
                                <svg class='svg-icon'>
                                    <use xlink:href='#icon-communication-2'/>
                                </svg>
                            </span>
                            <div class="text">Forum</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>