<section class="list-wrapper">
    <div class="container">
        <div class="casino-list list">
            <div class="list-name">
                <svg class="svg-icon">
                    <use xlink:href='#icon-category' />
                </svg>
                <span>
                    <span class="text-accent">
                        Four Best
                    </span>
                    Crypto Toplist Leaders
                </span>
            </div>
            <swiper-container
                class="mySwiper"
                slides-per-view="4"
                space-between="10"
                pagination="true"
                breakpoints='{"1200":{"slidesPerView":4}, "780":{"slidesPerView":3}, "475":{"slidesPerView":2}, "300":{"slidesPerView":1}}'
            >
                <swiper-slide>
                    <div class="slide-wrapper">
                        <div class="slide-cart">
                            <div class="list-head">
                                <span class="head">
                                    #1 Exchange
                                </span>
                                <img src="./images/ricky-casino.png" alt="casino">

                            </div>
                            <h3>
                                Ricky Casino
                            </h3>
                            <div class="ellipse">
                                <svg class="svg-icon">
                                    <use xlink:href='#ellipse-icon' />
                                </svg>
                                <span>
                                    9,9
                                </span>
                            </div>
                            <div class="rate">
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                            </div>
                            <div class="card-buttons">
                                <button class="run-btn">
                                    <span>
                                        <span class="text-accent">
                                            RunWinCasino
                                        </span>
                                            Review
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                                <button class="visit-btn">
                                    <span>
                                        Visit Site
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>


                </swiper-slide>
                <swiper-slide>
                    <div class="slide-wrapper">
                        <div class="slide-cart">
                            <div class="list-head">
                                <span class="head">
                                    #1 Exchange
                                </span>
                                <img src="./images/bet-play.png" alt="casino">

                            </div>
                            <h3>
                                Bet and Play
                            </h3>
                            <div class="ellipse">
                                <svg class="svg-icon">
                                    <use xlink:href='#ellipse-icon' />
                                </svg>
                                <span>
                                    9,9
                                </span>
                            </div>
                            <div class="rate">
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                            </div>
                            <div class="card-buttons">
                                <button class="run-btn">
                                    <span>
                                        <span class="text-accent">
                                            RunWinCasino
                                        </span>
                                            Review
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                                <button class="visit-btn">
                                    <span>
                                        Visit Site
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>


                </swiper-slide>
                <swiper-slide class="accent-card">
                    <div class="slide-wrapper">
                        <div class="slide-cart">
                            <div class="list-head">
                                <span class="head">
                                    #1 Exchange
                                </span>
                                <img src="./images/scream-casino.png" alt="casino">

                            </div>
                            <h3>
                                Scream Casino
                            </h3>
                            <div class="ellipse">
                                <svg class="svg-icon">
                                    <use xlink:href='#ellipse-icon' />
                                </svg>
                                <span>
                                    9,9
                                </span>
                            </div>
                            <div class="rate">
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                            </div>
                            <div class="card-buttons">
                                <button class="run-btn">
                                    <span>
                                        RunWinCasino <span class="white-text">
                                            Review
                                        </span>
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                                <button class="visit-btn">
                                    <span>
                                        Visit Site
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>


                </swiper-slide>
                <swiper-slide class="active-card">
                    <div class="slide-wrapper">
                        <div class="slide-cart">
                            <div class="list-head">
                                <span class="head">
                                    #1 Exchange
                                </span>
                                <img src="./images/k-casino.png" alt="casino">

                            </div>
                            <h3>
                                Kingdom Casino
                            </h3>
                            <div class="ellipse">
                                <svg class="svg-icon">
                                    <use xlink:href='#ellipse-icon' />
                                </svg>
                                <span>
                                    9,9
                                </span>
                            </div>
                            <div class="rate">
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                                <svg class="svg-icon">
                                    <use xlink:href='#rate-star' />
                                </svg>
                            </div>
                            <div class="card-buttons">
                                <button class="run-btn">
                                    <span>
                                        RunWinCasino <span class="white-text">
                                            Review
                                        </span>
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                                <button class="visit-btn">
                                    <span>
                                        Visit Site
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>


                </swiper-slide>
            </swiper-container>
        </div>
        <div class="event-list list">
            <div class="list-name">
                <svg class="svg-icon">
                    <use xlink:href='#icon-chip-1' />
                </svg>
                <span>
                    <span class="text-accent">
                        Four Best
                    </span>
                    Crypto Toplist Leaders
                </span>
            </div>
            <swiper-container
                class="mySwiper"
                slides-per-view="4"
                space-between="10"
                pagination="true"
                breakpoints='{"1200":{"slidesPerView":4}, "780":{"slidesPerView":3}, "475":{"slidesPerView":2}, "300":{"slidesPerView":1}}'
            >
                <swiper-slide>
                    <div class="slide-wrapper">
                        <div class="slide-cart">
                            <div class="list-head">
                                <span class="head">
                                    Picked by Casino Guru
                                </span>
                                <img src="./images/casino-logo-big.png" alt="casino">

                            </div>
                            <h3>
                                Ricky Casino
                            </h3>
                            <div class="card-buttons">
                                <button >
                                    <span>
                                        Play for real money
                                    </span>
                                </button>
                                <button class="visit-btn">
                                    <span>
                                        Play for free
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>


                </swiper-slide>
                <swiper-slide>
                    <div class="slide-wrapper">
                        <div class="slide-cart">
                            <div class="list-head">
                                <span class="head">
                                    Picked by Casino Guru
                                </span>
                                <img src="./images/11068_4-fantastic-fish-in-egypt-game.png" alt="casino">

                            </div>
                            <h3>
                                Ricky Casino
                            </h3>
                            <div class="card-buttons">
                                <button>
                                    <span>
                                        Play for real money
                                    </span>
                                </button>
                                <button class="visit-btn">
                                    <span>
                                        Play for free
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>


                </swiper-slide>
                <swiper-slide class="active-card">
                    <div class="slide-wrapper">
                        <div class="slide-cart">
                            <div class="list-head">
                                <span class="head">
                                    Picked by Casino Guru
                                </span>
                                <img src="./images/1483_temujin-treasures-game.png" alt="casino">

                            </div>
                            <h3>
                                Ricky Casino
                            </h3>
                            <div class="card-buttons">
                                <button>
                                    <span>
                                        Play for real money
                                    </span>
                                </button>
                                <button class="visit-btn">
                                    <span>
                                        Play for free
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>


                </swiper-slide>
                <swiper-slide>
                    <div class="slide-wrapper">
                        <div class="slide-cart">
                            <div class="list-head">
                                <span class="head">
                                    Picked by Casino Guru
                                </span>
                                <img src="./images/5462_big-juan-game.png" alt="casino">

                            </div>
                            <h3>
                                Ricky Casino
                            </h3>
                            <div class="card-buttons">
                                <button>
                                    <span>
                                        Play for real money
                                    </span>
                                </button>
                                <button class="visit-btn">
                                    <span>
                                        Play for free
                                    </span>
                                    <svg class="svg-icon">
                                        <use xlink:href='#icon-arrow-right-square' />
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>


                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</section>