<div class="list-wrapper">
    <div class="container">
        <div class="casino-list list">
            <div class="list-name">
                <svg>
                    <use xlink:href='#icon-category' />
                </svg>
                <span>
                    <span class="text-accent">
                        Four Best
                    </span>
                    Crypto Toplist Leaders
                </span>
            </div>
            <ul>
                <li>
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/ricky-casino.png" alt="casino">
                       
                    </div>
                    <h3>
                        Ricky Casino
                    </h3>
                    <div class="ellipse">
                        <svg>
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button>
                            <span>
                                <span class="text-accent">
                                    RunWinCasino 
                                </span>
                                    Review
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li>
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/bet-play.png" alt="casino">
                       
                    </div>
                    <h3>
                        Bet and Play
                    </h3>
                    <div class="ellipse">
                        <svg>
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button>
                            <span>
                                <span class="text-accent">
                                    RunWinCasino 
                                </span>
                                    Review
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="accent-card">
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/scream-casino.png" alt="casino">
                       
                    </div>
                    <h3>
                        Scream Casino
                    </h3>
                    <div class="ellipse">
                        <svg>
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button>
                            <span>
                                <span class="text-accent">
                                    RunWinCasino 
                                </span>
                                    Review
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="active-card">
                    <div class="list-head">
                        <span class="head">
                            #1 Exchange
                        </span>
                        <img src="./images/k-casino.png" alt="casino">
                       
                    </div>
                    <h3>
                        Kingdom Casino
                    </h3>
                    <div class="ellipse">
                        <svg>
                            <use xlink:href='#ellipse-icon' />
                        </svg>
                        <span>
                            9,9
                        </span>
                    </div>
                    <div class="rate">
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                        <svg>
                            <use xlink:href='#rate-star' />
                        </svg>
                    </div>
                    <div class="card-buttons">
                        <button>
                            <span>
                                <span class="text-accent">
                                    RunWinCasino 
                                </span>
                                    Review
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Visit Site
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                    </div>

                </li>
            </ul>

        </div>
        <div class="event-list list">
            <div class="list-name">
                <svg>
                    <use xlink:href='#icon-chip-1' />
                </svg>
                <span>
                    <span class="text-accent">
                        Four Best
                    </span>
                    Crypto Toplist Leaders
                </span>
            </div>
            <ul>
                <li>
                    <div class="list-head">
                        <span class="head">
                            Picked by Casino Guru
                        </span>
                        <img src="./images/casino-logo-big.png" alt="casino">
                        
                    </div>
                    <h3>
                        Ricky Casino
                    </h3>
                    <div class="card-buttons">
                        <button >
                            <span>
                                Play for real money
                            </span>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Play for free
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li>
                    <div class="list-head">
                        <span class="head">
                            Picked by Casino Guru
                        </span>
                        <img src="./images/11068_4-fantastic-fish-in-egypt-game.png" alt="casino">
                        
                    </div>
                    <h3>
                        Ricky Casino
                    </h3>
                    <div class="card-buttons">
                        <button>
                            <span>
                                Play for real money
                            </span>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Play for free
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li class="active-card">
                    <div class="list-head">
                        <span class="head">
                            Picked by Casino Guru
                        </span>
                        <img src="./images/1483_temujin-treasures-game.png" alt="casino">
                        
                    </div>
                    <h3>
                        Ricky Casino
                    </h3>
                    <div class="card-buttons">
                        <button>
                            <span>
                                Play for real money
                            </span>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Play for free
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                    </div>

                </li>
                <li>
                    <div class="list-head">
                        <span class="head">
                            Picked by Casino Guru
                        </span>
                        <img src="./images/5462_big-juan-game.png" alt="casino">
                        
                    </div>
                    <h3>
                        Ricky Casino
                    </h3>
                    <div class="card-buttons">
                        <button>
                            <span>
                                Play for real money
                            </span>
                        </button>
                        <button class="visit-btn">
                            <span>
                                Play for free
                            </span>
                            <svg>
                                <use xlink:href='#icon-arrow-right-square-1' />
                            </svg>
                        </button>
                    </div>

                </li>
            </ul>
        
        </div>
    </div>
</div>