<div class="mobile-filter">
    
    <div class="bar">
        <div class="top-filter">
            <div class="content">
                <svg >
                    <use xlink:href='#icon-filters' />
                </svg>
                <span>
                    Filters
                </span>

            </div>
            <button id="close-mobile-filter">
                <svg >
                    <use xlink:href='#icon-close-btn' />
                </svg>
            </button>
        </div>
        <ul class="list">
            <li class="filter-element">
                <div class="li-wrapper">
                    <div class="list-content">
                        <svg class="svg-icon main-icon">
                            <use xlink:href='#icon-fire' />
                        </svg>
                        <div class="text">
                            <span class="title">
                                <!-- Casinos for Players from -->
                                Popular Filters

                            </span>

                        </div>
                    </div>

                    <button>
                        <svg class="svg-icon button-icon">
                            <use xlink:href='#icon-down-square' />
                        </svg>
                    </button>
                </div>

                <div class="checkbox-list">
                    <ul>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Crypto casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                    </ul>
                    <button id="more-filters">
                        More 27 Variants
                        <svg class="svg-icon">
                            <use xlink:href='#icon-arrow-right-square' />
                        </svg>
                    </button>


                </div>

            </li>
            <li class="filter-element">
                <div class="li-wrapper">
                    <div class="list-content">
                        <svg class="svg-icon main-icon">
                            <use xlink:href='#icon-visit' />
                        </svg>
                        <div class="text">
                            <span class="title">
                                Casinos for Players from
                            </span>
                            <span>
                                Netherlands, Albania, Algeria, An...
                            </span>
                        </div>
                    </div>

                    <button>
                        <svg class="svg-icon button-icon">
                            <use xlink:href='#icon-down-square' />
                        </svg>
                    </button>
                </div>

                <div class="checkbox-list">
                    <ul>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Crypto casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                    </ul>
                    <button id="more-filters">
                        More 27 Variants
                        <svg class="svg-icon">
                            <use xlink:href='#icon-arrow-right-square' />
                        </svg>
                    </button>


                </div>

            </li>
            <li class="filter-element">
                <div class="li-wrapper">
                    <div class="list-content">
                        <svg class="svg-icon main-icon">
                            <use xlink:href='#icon-dice-1' />
                        </svg>
                        <div class="text">
                            <span class="title">
                                Casino Games
                            </span>
                            <span>
                                Slots, Roulette, Blackjack, Bettin...
                            </span>
                        </div>
                    </div>

                    <button>
                        <svg class="svg-icon button-icon">
                            <use xlink:href='#icon-down-square' />
                        </svg>
                    </button>
                </div>
                <div class="checkbox-list">
                    <ul>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Crypto casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                    </ul>
                    <button id="more-filters">
                        More 27 Variants
                        <svg class="svg-icon">
                            <use xlink:href='#icon-arrow-right-square' />
                        </svg>
                    </button>


                </div>
            </li>
            <li class="filter-element">
                <div class="li-wrapper">
                    <div class="list-content">
                        <svg class="svg-icon main-icon">
                            <use xlink:href='#icon-individual-user' />
                        </svg>
                        <div class="text">
                            <span class="title">
                                Game Provider
                            </span>
                            <span>
                                NetEnt, Novomatic, Nolimit City, ...
                            </span>
                        </div>
                    </div>

                    <button>
                        <svg class="svg-icon button-icon">
                            <use xlink:href='#icon-down-square' />
                        </svg>
                    </button>
                </div>
                <div class="checkbox-list">
                    <ul>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Crypto casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                    </ul>
                    <button id="more-filters">
                        More 27 Variants
                        <svg class="svg-icon">
                            <use xlink:href='#icon-arrow-right-square' />
                        </svg>
                    </button>


                </div>


            </li>
            <li class="filter-element">
                <div class="li-wrapper">
                    <div class="list-content">
                        <svg class="svg-icon main-icon">
                            <use xlink:href='#icon-payment-card' />
                        </svg>
                        <div class="text">
                            <span class="title">
                                User Feedback
                            </span>
                            <span>
                                Excellent, Great, Good, Mixed, Ba...
                            </span>
                        </div>
                    </div>

                    <button>
                        <svg class="svg-icon button-icon">
                            <use xlink:href='#icon-down-square' />
                        </svg>
                    </button>
                </div>
                <div class="checkbox-list">
                    <ul>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Crypto casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                    </ul>
                    <button id="more-filters">
                        More 27 Variants
                        <svg class="svg-icon">
                            <use xlink:href='#icon-arrow-right-square' />
                        </svg>
                    </button>


                </div>
            </li>
            <li class="filter-element">
                <div class="li-wrapper">
                    <div class="list-content">
                        <svg class="svg-icon main-icon">
                            <use xlink:href='#icon-popular-1' />
                        </svg>
                        <div class="text">
                            <span class="title">
                                Payment Method
                            </span>
                            <span>
                                PaySafeCard, iDEAL, Neteller, Tru,..
                            </span>
                        </div>
                    </div>

                    <button>
                        <svg class="svg-icon button-icon">
                            <use xlink:href='#icon-down-square' />
                        </svg>
                    </button>
                </div>

                <div class="checkbox-list">
                    <ul>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Crypto casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                    </ul>
                    <button id="more-filters">
                        More 27 Variants
                        <svg class="svg-icon">
                            <use xlink:href='#icon-arrow-right-square' />
                        </svg>
                    </button>


                </div>

            </li>
            <li class="filter-element">
                <div class="li-wrapper">
                    <div class="list-content">
                        <svg class="svg-icon main-icon">
                            <use xlink:href='#icon-safety' />
                        </svg>
                        <div class="text">
                            <span class="title">
                                Licensing Authority
                            </span>
                            <span>
                                Netherlands (KSA), Alderney (AG...
                            </span>
                        </div>
                    </div>

                    <button>
                        <svg class="svg-icon button-icon">
                            <use xlink:href='#icon-down-square' />
                        </svg>
                    </button>
                </div>

                <div class="checkbox-list">
                    <ul>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Crypto casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                        <li>
                            <div class="filter">
                                <div class="content">
                                    <label class="checkbox-container">
                                        <input type="checkbox" checked="">
                                        <span class="checkbox-custom">
                                            <svg class="svg-icon">
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </span>
                                        <span> Mobile-friendly casinos </span>

                                    </label>
                                </div>
                                <span class="num"> 34 </span>
                            </div>
                        </li>
                    </ul>
                    <button id="more-filters">
                        More 27 Variants
                        <svg class="svg-icon">
                            <use xlink:href='#icon-arrow-right-square' />
                        </svg>
                    </button>


                </div>

            </li>

        </ul>
    </div>
    <div class="button-group">
        <button>
            Clear filter
        </button>
        <button class="bg">
            Search
        </button>
    </div>
</div>