<section>
    <div class="container">
        <div class="benefits-wrapper review-wrapper">
            <div class="content">
                <h2>
                    PaylD Casino Australia 2025 <span class="title-accent"> - Instant Withdrawal </span>
                </h2>
                <p>
                    Experts from payid-pokies.net recommend PayID casinos online for Aussies thinking about playing 
                    online pokies safely for real money. Such platforms as Lucky Green, Richard casino, and Playfina 
                    casino allow you to instantly fund your virtual account without providing almost any personal information 
                    about yourself, guaranteeing your safety. Using this payment method opens up the possibility of making absolutely 
                    safe investments in PaylD packages without spending a lot of time manipulating bank cards or e-wallets. In the following sections, 
                    you will find detailed information.
                </p>

                <button class="read-more">
                    <span>
                        Read-more
                    </span>
                    <svg>
                        <use xlink:href='#arrow-right' />
                    </svg>
                </button>
                

               
                <div class="text-content">

                    <div class="general-info block">
                        <span class="title">
                            General Information
                        </span>
                        <div class="info-wrap">
                            <ul>
                                <li>
                                    <span class="option">
                                        Nabcasino Login:
                                    </span>
                                    <div class="item-wrap">
                                        <svg>
                                            <use xlink:href='#icon-login' />
                                        </svg>
                                        <span>
                                            https://nabcasino.com/
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="option">
                                        Languages:
                                    </span>
                                    <div class="item-wrap">
                                        <svg>
                                            <use xlink:href='#icon-languages' />
                                        </svg>
                                        <span>
                                            English
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="option">

                                        Established:
                                    </span>
                                    <div class="item-wrap">
                                        <svg>
                                            <use xlink:href='#icon-calendar' />
                                        </svg>
                                        <span>
                                            2024
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <span class="option">

                                        Affiliate Program:
                                    </span>
                                    <div class="item-wrap">
                                        <svg>
                                            <use xlink:href='#icon-affiliate' />
                                        </svg>
                                        <span>
                                            Nabcasino Affiliates
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="option">

                                        Casino Owner:
                                    </span>
                                    <div class="item-wrap">
                                        <svg>
                                            <use xlink:href='#icon-people' />
                                        </svg>
                                        <span>
                                            New Age N.V.
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="option">

                                        Casino Type:
                                    </span>
                                    <div class="item-wrap">
                                        <svg>
                                            <use xlink:href='#icon-casino' />
                                        </svg>
                                        <span>
                                            Instant Play, Crypto Casino, Sports, Live Casino
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="payment-features">
                        <div class="card">
                            <div class="element">
                                <span>
                                    pros
                                </span>
                            </div>
                            <ul>
                                <li>
                                    <svg>
                                        <use xlink:href='#icon-tick-square-2' />
                                    </svg>
                                    <span>
                                        Huge selection of sports and games 
                                    </span>
                                </li>
                                <li>
                                    <svg>
                                        <use xlink:href='#icon-tick-square-2' />
                                    </svg>
                                    <span>
                                        Competitive odds
                                    </span>
                                </li>
                                <li>
                                    <svg>
                                        <use xlink:href='#icon-tick-square-2' />
                                    </svg>
                                    <span>
                                        Low minimum bet amounts
                                    </span>
                                </li>
                                <li>
                                    <svg>
                                        <use xlink:href='#icon-tick-square-2' />
                                    </svg>
                                    <span>
                                        User-friendly site design
                                    </span>
                                </li>
                                <li>
                                    <svg>
                                        <use xlink:href='#icon-tick-square-2' />
                                    </svg>
                                    <span>
                                        Live streaming. Funded account required or have placed a bet within 24 hours.
                                    </span>
                                </li>
                                
                            </ul>

                        </div>
                        <div class="card ">
                            <div class="element cons">
                                <span>
                                    cons

                                </span>
                            </div>
                            <ul>
                                <li>
                                    <svg>
                                        <use xlink:href='#icon-close-square' />
                                    </svg>
                                    <span>
                                        Promotions and bonuses could be stronger
                                    </span>
                                </li>
                                <li>
                                    <svg>
                                        <use xlink:href='#icon-close-square' />
                                    </svg>
                                    <span>
                                        Cash out offers sometimes insultingly low
                                    </span>
                                </li>
                                <li>
                                    <svg>
                                        <use xlink:href='#icon-close-square' />
                                    </svg>
                                    <span>
                                        Sportsbook app is glitchy
                                    </span>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="languages block">
                        <span class="title">
                            Available Languages
                        </span>
                        <ul>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-china' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-1' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-turkey' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-italy' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-2' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-3' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-germ' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-pl' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-4' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-ru' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-ge' />
                                </svg>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-flag-5' />
                                </svg>
                            </li>
                        </ul>
                    </div>

                    <div class="payment-methods block">
                        <span class="title">
                            Payment Methods
                        </span>
                        <ul>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-mastercard' />
                                </svg>
                                <svg>
                                    <use xlink:href='#icon-visa' />
                                </svg>

                            </li>
                    </div>

                    <div class="top-reason block">
                        <span class="title">
                            Top Three Reason to Join
                        </span>
                        <div class="wrapper">
                            <div class="item">
                                <div class="num">1</div>
                                <p>
                                    Trustworthy site offering high-quality online sports
                                    and casino betting for nearly 20 years.
                                </p>
                            </div>
                            <div class="separator"></div>
                            <div class="item">
                                <div class="num">2</div>
                                <p>
                                    Huge list of sports (tons of wagers per sport) 
                                    and a robust selection of casino and arcade games.
                                </p>
                            </div>
                            <div class="separator"></div>
                            <div class="item">
                                <div class="num">3</div>
                                <p>
                                    Live streaming of games in real time makes in-game 
                                    betting a cinch. Funded account required or have placed a bet within 24 hours.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="available-sports block">
                        <span class="title">
                            Available Sports
                        </span>
                        <ul>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-slots' />
                                </svg>
                                <span>
                                    Slots
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-roulette' />
                                </svg>
                                <span>
                                    Roulette
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-blackjack' />
                                </svg>
                                <span>
                                    Blackjack
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-betting' />
                                </svg>
                                <span>
                                    Betting
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-video-poker' />
                                </svg>
                                <span>
                                    Video-poker
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-bingo' />
                                </svg>
                                <span>
                                    Bingo
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-esports' />
                                </svg>
                                <span>
                                    eSports betting
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-jackpot-games' />
                                </svg>
                                <span>
                                    Jackpot games
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-live-games' />
                                </svg>
                                <span>
                                    Live games
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-poker' />
                                </svg>
                                <span>
                                    Poker
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-craps-and-dice' />
                                </svg>
                                <span>
                                    Craps and dice
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-keno' />
                                </svg>
                                <span>
                                    Keno
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-scratch-cards' />
                                </svg>
                                <span>
                                    Scratch cards
                                </span>
                            </li>
                            <li>
                                <svg>
                                    <use xlink:href='#icon-crash-games' />
                                </svg>
                                <span>
                                    Crash games
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="other-products block">
                        <span class="title">
                            Other Products
                        </span>
                        <div class="products-grid">
                            <div class="product">
                              Esports
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Combined Betting
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              In-Play Betting
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Live Streaming
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Politics
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Bitcoin
                              <svg>
                                <use xlink:href='#icon-close-square' />
                            </svg>
                            </div>
                            <div class="product">
                              Entertainment
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Live Betting
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Online Games
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Virtual Sports
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Bingo
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Football pool
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Live Casino
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                            <div class="product">
                              Poker
                              <svg class="status checked">
                                <use xlink:href="#icon-tick-square-2"></use>
                              </svg>
                            </div>
                          </div>
                    </div>
                      


                      <div class="rating-container block">
                        <div class="rating-global">
                            <div class="thumb">&#128077;</div>
                            <div class="global-score">9.8</div>
                            <p>Rating Global</p>
                        </div>
                        <div class="separator"></div>
                        <div class="column">
                            <div class="rating-item">
                                <span>Reputation</span>
                                <div class="bar">
                                    <div style="width: 99%;"></div>
                                </div>
                                <span>9.9</span>
                            </div>
                            <div class="rating-item">
                                <span>Website</span>
                                <div class="bar">
                                    <div style="width: 98%;"></div>
                                </div>
                                <span>9.8</span>
                            </div>
                            <div class="rating-item">
                                <span>Mobile</span>
                                <div class="bar">
                                    <div style="width: 96%;"></div>
                                </div>
                                <span>9.6</span>
                            </div>
                            <div class="rating-item">
                                <span>Odds</span>
                                <div class="bar">
                                    <div style="width: 93%;"></div>
                                </div>
                                <span>9.3</span>
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="column">
                            <div class="rating-item">
                                <span>Live</span>
                                <div class="bar">
                                    <div style="width: 99%;"></div>
                                </div>
                                <span>9.9</span>
                            </div>
                            <div class="rating-item">
                                <span>Bet offer</span>
                                <div class="bar">
                                    <div style="width: 98%;"></div>
                                </div>
                                <span>9.8</span>
                            </div>
                            <div class="rating-item">
                                <span>Diversity</span>
                                <div class="bar">
                                    <div style="width: 96%;"></div>
                                </div>
                                <span>9.6</span>
                            </div>
                            <div class="rating-item">
                                <span>Bonus</span>
                                <div class="bar">
                                    <div style="width: 93%;"></div>
                                </div>
                                <span>9.3</span>
                            </div>
                        </div>
                    </div>

                      <div class="bet-summary block">
                        <span class="title">
                            Bet365 in Short
                        </span>
                        <div class="summary-grid">
                          <div class="summary-item">
                            <span class="label">Minimum Deposit</span>
                            <span class="value">£5</span>
                          </div>
                          <div class="summary-item">
                            <span class="label">Customer support</span>
                            <svg class="status checked">
                              <use xlink:href="#icon-tick-square-2"></use>
                            </svg>
                          </div>
                          <div class="summary-item">
                            <span class="label">Live Betting</span>
                            <svg class="status checked">
                              <use xlink:href="#icon-tick-square-2"></use>
                            </svg>
                          </div>
                          <div class="summary-item">
                            <span class="label">Betting Limits</span>
                            <span class="value">£20,000</span>
                          </div>
                          <div class="summary-item">
                            <span class="label">In-Play Betting</span>
                            <svg class="status checked">
                              <use xlink:href="#icon-tick-square-2"></use>
                            </svg>
                          </div>
                          
                          <div class="summary-item">
                            <span class="label">Mobile App</span>
                            <svg class="status checked">
                              <use xlink:href="#icon-tick-square-2"></use>
                            </svg>
                          </div>
                          <div class="summary-item">
                            <span class="label">Minimum Bet</span>
                            <span class="value">£0.1</span>
                          </div>
                          
                          <div class="summary-item">
                            <span class="label">Football pool</span>
                            <svg class="status checked">
                              <use xlink:href="#icon-tick-square-2"></use>
                            </svg>
                          </div>
                      
                          
                          <div class="summary-item">
                            <span class="label">Live Streaming</span>
                            <svg class="status checked">
                              <use xlink:href="#icon-tick-square-2"></use>
                            </svg>
                          </div>
                          <div class="summary-item">
                            <span class="label">Welcome Bonus</span>
                            <span class="value">Up to £100</span>
                          </div>
                          <div class="summary-item">
                            <span class="label">Combined Betting</span>
                            <svg class="status checked">
                              <use xlink:href="#icon-tick-square-2"></use>
                            </svg>
                          </div>
                          <div class="summary-item">
                            <span class="label">Bitcoin Bet</span>
                            <svg class="status checked">
                              <use xlink:href="#icon-tick-square-2"></use>
                            </svg>
                          </div>
                        </div>
                      </div>
                      
                   

                    
                    
                  
                </div>


             
             
               

            </div>
            <div class="side-bar">
                <div class="casino-bar">
                    <div class="top-card">
                        <div class="head-card">
                            <svg>
                                <use xlink:href='#icon-category' />
                            </svg>
                            <span>
                                Best PayID Casinos
                            </span>
                        </div>
                        <ul>
                            <li>
                                <img src="./images/Screenshot 2025-01-19 at 13.29.2011.png" alt="logo-casino">
                                <span>
                                    1,670 AUD + 600 FS + Secret Bonus
                                </span>
                                <button>
                                    Play
                                </button>
                            </li>
                            <li>
                                <img src="./images/Screenshot 2025-01-19 at 13.29.20 1 (1).png" alt="logo-casino">
                                <span>
                                    1,670 AUD + 600 FS + Secret Bonus
                                </span>
                                <button>
                                    Play
                                </button>
                            </li>
                            <li>
                                <img src="./images/Screenshot 2025-01-19 at 13.29.20 1 (2).png" alt="logo-casino">
                                <span>
                                    1,670 AUD + 600 FS + Secret Bonus
                                </span>
                                <button>
                                    Play
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="separate-line"></div>
                    <div class="bottom-card">
                        <div class="head-card">
                            <svg>
                                <use xlink:href='#icon-document' />
                            </svg>
                            <span>
                                Table of contents
                            </span>
                        </div>
                        <div class="table-list">
                            <ul>
                                <li>
                                    <span>
                                        5 Best Instant Withdrawal Payid Casinos
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Types of bonuses at PaylD Casinos
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Benefits
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Deposit
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Withdrawal
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Limits
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Bonus
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-contents">
                    <img src="./images/banner-sidebar.png" alt="casino">
                    <img src="./images/image13.png" alt="casino">
                </div>

            </div>
        </div>
    </div>
</section>