<div class="top-casino-list">
    <div class="container">
        <ul>
            <li>
                <div class="casino-banner">
                    <span class="accent-num">
                        1
                    </span>
                    <img src="./images/casino-logo.png" alt="logo">
                </div>
                <div class="text-wrapper">
                    <p>
                        "Like a supercharged Mitsubishi with the same name, playing on Evo crypto casino is more than a game!*
                    </p>
                </div>
                
                <div class="summary">
                    <div class="top-summary">
                        <svg class='svg-icon '>
                            <use xlink:href='#icon-dice-1' />
                        </svg>
                        <div class="text">
                            <span class="accent">
                                3200+
                            </span>
                            <span >
                                Games
                            </span>
                        </div>
                        
                    </div>
                    <div class="discount">
                        <span>
                            BONUS CODE
                        </span>
                        <span class="accent">
                            20BUCKSOFF
                        </span>
                    </div>
                    <div class="rate-wrapper">
                        <div class="rate">
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                        </div>
                        <div class="ellipse">
                            <svg>
                                <use xlink:href='#ellipse-icon' />
                            </svg>
                            <span>
                                9,9
                            </span>
                        </div>
                    </div>

                </div>
                <div class="buttons">
                    <button class="run-btn">
                        <span>
                            RunWinCasino <span class="white-text">
                                Review
                            </span>
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                    <button class="visit-btn">
                        <span>
                            Visit Site
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                </div>
              
            </li>
            <li>
                <div class="casino-banner">
                    <span class="accent-num">
                        2
                    </span>
                    <img src="./images/Screenshot 2025-01-18 at 16.21.30 1.png" alt="logo">
                </div>
                <div class="text-wrapper">
                    <p>
                        "Strong as a rhino or swift as a fox? Cryptorino's so cool it's not in a box. As action packed as a Hollywood flick, you'll love it to bits!"
                    </p>
                </div>
                
                <div class="summary">
                    <div class="top-summary">
                        <svg class='svg-icon '>
                            <use xlink:href='#icon-dice-1' />
                        </svg>
                        <div class="text">
                            <span class="accent">
                                3200+
                            </span>
                            <span >
                                Games
                            </span>
                        </div>
                        
                    </div>
                    <div class="discount">
                        <span>
                            BONUS CODE
                        </span>
                        <span class="accent">
                            20BUCKSOFF
                        </span>
                    </div>
                    <div class="rate-wrapper">
                        <div class="rate">
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                        </div>
                        <div class="ellipse">
                            <svg>
                                <use xlink:href='#ellipse-icon' />
                            </svg>
                            <span>
                                7,9
                            </span>
                        </div>
                    </div>

                </div>
                <div class="buttons">
                    <button class="run-btn">
                        <span>
                            RunWinCasino <span class="white-text">
                                Review
                            </span>
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                    <button class="visit-btn">
                        <span>
                            Visit Site
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                </div>
              
            </li>
            <li>
                <div class="casino-banner">
                    <span class="accent-num">
                        3
                    </span>
                    <img src="./images/Screenshot 2025-01-18 at 16.21.30 1 (1).png" alt="logo">
                </div>
                <div class="text-wrapper">
                    <p>
                        "Spin to win at Rakebits new race, 100k awaits so join the chase."
                    </p>
                </div>
                
                <div class="summary">
                    <div class="top-summary">
                        <svg class='svg-icon '>
                            <use xlink:href='#icon-dice-1' />
                        </svg>
                        <div class="text">
                            <span class="accent">
                                3200+
                            </span>
                            <span >
                                Games
                            </span>
                        </div>
                        
                    </div>
                    <div class="discount">
                        <span>
                            BONUS CODE
                        </span>
                        <span class="accent">
                            20BUCKSOFF
                        </span>
                    </div>
                    <div class="rate-wrapper">
                        <div class="rate">
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                        </div>
                        <div class="ellipse">
                            <svg>
                                <use xlink:href='#ellipse-icon' />
                            </svg>
                            <span>
                                6,9
                            </span>
                        </div>
                    </div>

                </div>
                <div class="buttons">
                    <button class="run-btn">
                        <span>
                            RunWinCasino <span class="white-text">
                                Review
                            </span>
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                    <button class="visit-btn">
                        <span>
                            Visit Site
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                </div>
              
            </li>
            <li>
                <div class="casino-banner">
                    <span>
                        4
                    </span>
                    <img src="./images/Screenshot 2025-01-19 at 13.29.01 1.png" alt="logo">
                </div>
                <div class="text-wrapper">
                    <p>
                        "Spin to win at Rakebits new race, 100k awaits so join the chase."
                    </p>
                </div>
                
                <div class="summary">
                    <div class="top-summary">
                        <svg class='svg-icon '>
                            <use xlink:href='#icon-dice-1' />
                        </svg>
                        <div class="text">
                            <span class="accent">
                                3200+
                            </span>
                            <span >
                                Games
                            </span>
                        </div>
                        
                    </div>
                    <div class="discount">
                        <span>
                            BONUS CODE
                        </span>
                        <span class="accent">
                            20BUCKSOFF
                        </span>
                    </div>
                    <div class="rate-wrapper">
                        <div class="rate">
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                        </div>
                        <div class="ellipse">
                            <svg>
                                <use xlink:href='#ellipse-icon' />
                            </svg>
                            <span>
                                6,9
                            </span>
                        </div>
                    </div>

                </div>
                <div class="buttons">
                    <button class="run-btn">
                        <span>
                            RunWinCasino <span class="white-text">
                                Review
                            </span>
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                    <button class="visit-btn">
                        <span>
                            Visit Site
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                </div>
              
            </li>
            <li>
                <div class="casino-banner">
                    <span>
                        5
                    </span>
                    <img src="./images/Screenshot 2025-01-19 at 13.29.20 1.png" alt="logo">
                </div>
                <div class="text-wrapper">
                    <p>
                        "Spin to win at Rakebits new race, 100k awaits so join the chase."
                    </p>
                </div>
                
                <div class="summary">
                    <div class="top-summary">
                        <svg class='svg-icon '>
                            <use xlink:href='#icon-dice-1' />
                        </svg>
                        <div class="text">
                            <span class="accent">
                                3200+
                            </span>
                            <span >
                                Games
                            </span>
                        </div>
                        
                    </div>
                    <div class="discount">
                        <span>
                            BONUS CODE
                        </span>
                        <span class="accent">
                            20BUCKSOFF
                        </span>
                    </div>
                    <div class="rate-wrapper">
                        <div class="rate">
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                        </div>
                        <div class="ellipse">
                            <svg>
                                <use xlink:href='#ellipse-icon' />
                            </svg>
                            <span>
                                6,9
                            </span>
                        </div>
                    </div>

                </div>
                <div class="buttons">
                    <button class="run-btn">
                        <span>
                            RunWinCasino <span class="white-text">
                                Review
                            </span>
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                    <button class="visit-btn">
                        <span>
                            Visit Site
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                </div>
              
            </li>
            <li>
                <div class="casino-banner">
                    <span>
                        6
                    </span>
                    <img src="./images/Screenshot 2025-01-19 at 13.29.38 1.png" alt="logo">
                </div>
                <div class="text-wrapper">
                    <p>
                        "Spin to win at Rakebits new race, 100k awaits so join the chase."
                    </p>
                </div>
                
                <div class="summary">
                    <div class="top-summary">
                        <svg class='svg-icon '>
                            <use xlink:href='#icon-dice-1' />
                        </svg>
                        <div class="text">
                            <span class="accent">
                                3200+
                            </span>
                            <span >
                                Games
                            </span>
                        </div>
                        
                    </div>
                    <div class="discount">
                        <span>
                            BONUS CODE
                        </span>
                        <span class="accent">
                            20BUCKSOFF
                        </span>
                    </div>
                    <div class="rate-wrapper">
                        <div class="rate">
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                        </div>
                        <div class="ellipse">
                            <svg>
                                <use xlink:href='#ellipse-icon' />
                            </svg>
                            <span>
                                6,9
                            </span>
                        </div>
                    </div>

                </div>
                <div class="buttons">
                    <button class="run-btn">
                        <span>
                            RunWinCasino <span class="white-text">
                                Review
                            </span>
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                    <button class="visit-btn">
                        <span>
                            Visit Site
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                </div>
              
            </li>
            <li>
                <div class="casino-banner">
                    <span>
                        7
                    </span>
                    <img src="./images/Screenshot 2025-01-19 at 13.29.58 1.png" alt="logo">
                </div>
                <div class="text-wrapper">
                    <p>
                        "Spin to win at Rakebits new race, 100k awaits so join the chase."
                    </p>
                </div>
                
                <div class="summary">
                    <div class="top-summary">
                        <svg class='svg-icon '>
                            <use xlink:href='#icon-dice-1' />
                        </svg>
                        <div class="text">
                            <span class="accent">
                                3200+
                            </span>
                            <span >
                                Games
                            </span>
                        </div>
                        
                    </div>
                    <div class="discount">
                        <span>
                            BONUS CODE
                        </span>
                        <span class="accent">
                            20BUCKSOFF
                        </span>
                    </div>
                    <div class="rate-wrapper">
                        <div class="rate">
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                            <svg>
                                <use xlink:href='#rate-star' />
                            </svg>
                        </div>
                        <div class="ellipse">
                            <svg>
                                <use xlink:href='#ellipse-icon' />
                            </svg>
                            <span>
                                2,9
                            </span>
                        </div>
                    </div>

                </div>
                <div class="buttons">
                    <button class="run-btn">
                        <span>
                            RunWinCasino <span class="white-text">
                                Review
                            </span>
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                    <button class="visit-btn">
                        <span>
                            Visit Site
                        </span>
                        <svg>
                            <use xlink:href='#icon-arrow-right-square-1' />
                        </svg>
                    </button>
                </div>
              
            </li>
        </ul>
    </div>
</div>