@font-face {
    font-family: 'HelveticaNeue-Regular';
    src: url('../fonts/HelveticaNeue-Regular.eot');
    src: url('../fonts/HelveticaNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue-Regular.woff2') format('woff2'),
         url('../fonts/HelveticaNeue-Regular.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-Regular.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.eot');
    src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Inter-Regular.woff2') format('woff2'),
         url('../fonts/Inter-Regular.ttf') format('truetype'),
         url('../fonts/Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist-Bold';
    src: url('../fonts/Urbanist-Bold.eot');
    src: url('../fonts/Urbanist-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Urbanist-Bold.woff2') format('woff2'),
         url('../fonts/Urbanist-Bold.ttf') format('truetype'),
         url('../fonts/Urbanist-Bold.svg#urbanistbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist-Medium';
    src: url('../fonts/Urbanist-Medium.eot');
    src: url('../fonts/Urbanist-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Urbanist-Medium.woff2') format('woff2'),
         url('../fonts/Urbanist-Medium.ttf') format('truetype'),
         url('../fonts/Urbanist-Medium.svg#urbanistmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist-SemiBold';
    src: url('../fonts/Urbanist-SemiBold.eot');
    src: url('../fonts/Urbanist-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Urbanist-SemiBold.woff2') format('woff2'),
         url('../fonts/Urbanist-SemiBold.ttf') format('truetype'),
         url('../fonts/Urbanist-SemiBold.svg#urbanistsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist-SemiBoldItalic';
    src: url('../fonts/Urbanist-SemiBoldItalic.eot');
    src: url('../fonts/Urbanist-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Urbanist-SemiBoldItalic.woff2') format('woff2'),
         url('../fonts/Urbanist-SemiBoldItalic.ttf') format('truetype'),
         url('../fonts/Urbanist-SemiBoldItalic.svg#urbanistsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}