// settings main
$body_color:#fff;
$body_bg:#111A24;
$body_dark_color: #0C131B;
$placeholder_color:#83A2C6;
$selection_bg:#87FE37;
$selection_color:#83A2C6;
$site_font_size: 1rem;
$site_line_height:150%;
$default_font: "Urbanist", sans-serif;
$link_color: #73838F;
$link_active:#87FE37;
$link_hover_color:#fff;
