{{> header pageTitle="Index"}}

<div class="breadcrumbs">
    <div class="container">
        <div class="navigation">
            <svg class="svg-icon">
                <use xlink:href='#icon-home' />
            </svg>
            <svg class="svg-icon">
                <use xlink:href='#arrow-right' />
            </svg>
            <span>
                Reviews
            </span>
            <svg class="svg-icon">
                <use xlink:href='#arrow-right' />
            </svg>
            <span>
                Gold Party

            </span>
        </div>
    </div>
</div>

{{> categories-banner}}

{{> filter-component}}

{{> casino-filters}}

{{> casino-australia}}

{{>  top-casino-list}}

{{> benefits}}

{{> add-bookmarks}}

{{> footer}}