{{> header pageTitle="Games"}}

<div class="breadcrumbs">
    <div class="container">
        <div class="navigation">
            <svg class="svg-icon">
                <use xlink:href='#icon-home-empty' />
            </svg>
            <svg class="svg-icon">
                <use xlink:href='#arrow-right' />
            </svg>
            <span>
                Reviews
            </span>
            <svg class="svg-icon">
                <use xlink:href='#arrow-right' />
            </svg>
            <span>
                Gold Party

            </span>
            <div class="bg-container">
                <div class="brown-bg"></div>
                <div class="green-bg"></div>
            </div>
        </div>
    </div>
</div>

<div class="game-filter">
    {{> filter-component}}

</div>

{{> games-block}}

{{> casino-australia}}

{{>  top-casino-list}}

{{> benefits}}

{{> add-bookmarks}}

{{> footer}}