{{> header pageTitle="Review"}}

<div class="breadcrumbs">
    <div class="container">
        <div class="navigation">
            <svg class="svg-icon">
                <use xlink:href='#icon-home' />
            </svg>
            <svg class="svg-icon">
                <use xlink:href='#arrow-right' />
            </svg>
            <span>
                Reviews
            </span>
            <svg class="svg-icon">
                <use xlink:href='#arrow-right' />
            </svg>
            <span>
                Gold Party

            </span>
        </div>
    </div>
</div>

{{> review-hero}}

{{> list-wrapper}}

{{> benefits}}

{{>  top-casino-list}}

{{> casino-australia}}

{{> add-bookmarks}}

{{> footer}}