@use "../includes/variables" as vars;
@use '../includes/mixins' as mixins;



.casino-australia{
    overflow-x: clip;
    @media screen and (max-width: 1024px) {
        &{
            overflow-x: unset;
        }
    }
}

.casino-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    .info-block{
        flex: 1;
        h2{
            @include mixins.text(#fff, 34px, 700, normal);
            padding-bottom: 10px;

        }
        p{
            @include mixins.text(vars.$placeholder_color, 16px, 500, 150%);
            padding-bottom: 20px;
        }
        .summary{
            color: #fff;
            .yellow-text{
                color: #F8EB3E;
            }
        }
    }
    .bg-wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url(../images/banner-girl-bg.png);
            filter: blur(152px);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 1000px;
            height: 1000px;
            z-index: -1;
        }

        img{
            position: relative;
            left: -2%;
            width: 85%;
        }
    }
    @media screen and (max-width: 1024px) {
        &{
            flex-direction: column;
        }
    }

}