@use "../includes/variables"as vars;
@use '../includes/mixins'as mixins;

.casino-filters {
    margin-top: 30px;
  
    .content-block{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 15px;

        .sidebar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            gap: 50px;
            width: 25%;

            .bar {
                border-radius: 20px;
                border: 1px solid #1D283C;
                background: linear-gradient(180deg, #111922 0%, #020305 100%);
                backdrop-filter: blur(17px);
                padding: 20px;
              
                .head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 30px;

                    .title {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;

                        svg {
                            width: 30px;
                            height: 30px;
                            stroke: none;
                        }
                    }

                    .icon-btn {
                        width: 24px !important;
                        height: 24px !important;
                        stroke: vars.$link_color;
                        fill: transparent;
                        transition: all ease 0.3s;
                        cursor: pointer;

                        @media screen and (min-width: 1024px) {
                            &:hover {
                                stroke: white;

                            }


                        }
                    }

                }

                .active-head-btn {
                    .icon-btn {
                        transform: rotate(180deg);
                        transition: all ease 0.3s;
                        stroke: #F9EB3D;

                        @media screen and (min-width: 1024px) {
                            &:hover {
                                stroke: #F9EB3D;

                            }


                        }

                    }
                }

                .checkbox-list {
                    display: none;

                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-block: 10px;

                        .filter {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            position: relative;
                            padding: 0 0 10px 0;
                            width: 100%;

                            &::after {
                                content: '';
                                height: 1px;
                                width: 100%;
                                background: #1A2535;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }

                            .content {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                gap: 10px;
                                width: 85%;

                                svg {
                                    width: 18px;
                                    height: 18px;
                                    display: none;
                                }

                                .checkbox-container {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                    cursor: pointer;
                                    width: 100%;
                                }

                                .checkbox-container input {
                                    display: none;
                                }

                                .checkbox-custom {
                                    width: 20px;
                                    height: 20px;
                                    border: 2px solid #1A2535;
                                    border-radius: 4px;
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    transition: all ease 0.3s;
                                    flex-shrink: 0;
                                }

                                .checkbox-container input:checked+.checkbox-custom {
                                    border: 1px solid #7752FE;
                                    background: #87FE37;

                                    svg {
                                        display: block;
                                    }
                                }
                            }

                            .num {
                                @include mixins.text(#A4B4D2, 0.7rem, 600, normal);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                z-index: 0;
                                right: 10px;
                                flex-shrink: 0;

                                &::before {
                                    content: '';
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                    background: #203144;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    z-index: -1;

                                }
                            }

                            @media screen and (min-width: 1024px) {
                                &:hover {

                                    .checkbox-container input:checked+.checkbox-custom,
                                    .checkbox-custom {
                                        border: 1px solid vars.$selection_bg;
                                        transition: all ease 0.3s;
                                    }
                                }
                            }
                        }
                    }

                    button {
                        padding: 8px 20px 8px 35px;
                        margin-block: 20px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        cursor: pointer;
                        gap: 10px;
                        @include mixins.text(#F9EB3D, 14px, 600, normal);

                        svg {
                            width: 20px;
                            height: 20px;
                            stroke: #F9EB3D;
                            fill: #F9EB3D;
                        }
                    }
                }

                .active-checkbox-list {
                    display: block;
                }

                .list {
                    display: flex;
                    flex-direction: column;
                  
                    li{
                        position: relative;
                        .li-wrapper{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            position: relative;
                            padding-block: 20px;
                            gap: 10px;
                        }
                      
                        .list-content {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 10px;
                            max-width: 70%;
                        }

                        .item-content {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 10px;
                            flex: 1;
                            min-width: 0;
                        }

                        .text {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }

                        .title {
                            @include mixins.text(white, clamp(14px, 1vw, 16px), 700, normal);
                        }

                        span {
                            @include mixins.text(#83A2C6, clamp(10px, 0.8vw, 13px), 600, 150%);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 100%;
                            display: inline-block;
                        }

                        .main-icon {
                            width: 30px !important;
                            height: 30px !important;
                            fill: vars.$selection_bg;
                        }

                        button {
                            .button-icon {
                                fill: transparent;
                                stroke: vars.$link_color;
                                transition: all ease 0.3s;
                                width: 24px;
                                height: 24px;
                                cursor: pointer;
                            }

                            @media screen and (min-width: 1024px) {
                                &:hover {
                                    svg {
                                        stroke: white;
                                        transition: all ease 0.3s;

                                    }
                                }
                            }
                        }
                        .active-btn{
                            .svg-icon{
                                transform: rotate(180deg);
                                transition: all ease 0.3s;
                                stroke: #F9EB3D;

                                @media screen and (min-width: 1024px) {
                                    &:hover{
                                        stroke: #F9EB3D;

                                    }


                                }

                            }
                        }

                    }

                    li::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #1D283C;
                        position: absolute;
                        top: 0;
                    }
                    li:first-child::before {
                        content: none;
                    }
                }
            }

            img {
                padding-inline: 20px;
            }

            @media screen and (max-width: 1175px) {
                & {
                    width: 33.3%;
                }
            }

            @media screen and (max-width: 860px) {
                & {
                    display: none;
                }
            }
        }

        .card-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 10px;
            width: 75%;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                width: calc(33.3% - 10px);
                padding: 20px;
                border-radius: 20px;
                border: 2px solid #1D283C;
                background: linear-gradient(180deg, #111922 0%, #020305 100%);
                backdrop-filter: blur(17px);
                position: relative;
                overflow: hidden;
                margin-left: 10px;

                .list-head {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span {
                        @include mixins.text(#AFD9A4, 14px, 600, normal);
                        font-family: 'Urbanist-Medium', sans-serif;
                        padding: 8px 20px 14px;
                        background: #588552;
                        border-radius: 10px;
                        transform: translateY(10px);
                        z-index: -1;
                        white-space: nowrap;
                        max-width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    img {
                        width: 200px;
                        border-radius: 20px;
                    }
                }

                h3 {
                    @include mixins.text(white, 20px, 600, normal);
                    font-family: 'Urbanist-Medium', sans-serif;

                }

                .card-buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 18px;
                    max-width: 100%;

                    svg {
                        width: 20px;
                        height: 20px;
                    }

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        span {
                            @include mixins.text(white, 14px, 600, normal);
                        }

                    }

                    .visit-btn {
                        span {
                            color: #020123;

                        }

                    }

                }

                @media screen and (min-width: 1024px) {
                    &:hover {
                        border: 2px solid #87FE37;
                        background: linear-gradient(180deg, #111922 0%, #020305 100%);
                        backdrop-filter: blur(17px);
                    }
                }
            }

            @media screen and (max-width: 1175px) {
                & {
                    width: auto;

                    li {
                        width: calc(50% - 10px);

                    }

                }
            }

            @media screen and (max-width: 860px) {
                & {
                    justify-content: center;
                    gap: 10px;

                    li {
                        margin-left: unset;
                        width: calc(50% - 5px);

                    }
                }
            }

            @media screen and (max-width: 550px) {
                & {
                    li {
                        width: 100%;
                    }
                }
            }
        }

        // @media screen and (max-width: 860px) {
        //     justify-content: center;
        //     gap: 10px;
        // }
    }
}